#header {
    border-bottom: none;
}

#bottom_nav {
    background-color: #82be28;
    padding: 8px 0;
}
#bottom_nav .nav {
    display: flex;
    margin: 0 auto 0 15px;
    width: 50%;
}
#bottom_nav .nav li {
    flex-grow: 2;
    text-align: center;
}
#bottom_nav .nav li a {
    color: white;
}
#bottom_nav .nav li a:hover, #bottom_nav .nav li a:focus {
    background-color: #6da31b;
}
#bottom_nav .nav .active a {
    background-color: #6da31b;
}

@media (max-width: 991px) {
  #bottom_nav .nav  {
    width: 75%;
  }
  #bottom_nav .nav li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  #bottom_nav .nav li a {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
  }
}

.bottom_contents {
  height:auto;
  min-height: 500px;
  width:95%;
  margin: 25px auto 25px auto;
  display: block;
  background-color: white;
  border-radius: 3px;		/* CSS3草案 */
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 3px;	/* Firefox用 */
  border-top: 4px solid #82be28;
  border-left: 1px solid #d2d6de;
  border-right: 1px solid #d2d6de;
  border-bottom: 1px solid #d2d6de;
}

.crudframe_ttl {
    background-color: #82be28;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 6px 14px 10px 14px;
}