#header {
    border-bottom: none;
}

#bottom_nav {
    background-color: #82be28;
    padding: 8px 0;
}
#bottom_nav .nav {
    display: flex;
    margin: 0 auto 0 15px;
    width: 50%;
}
#bottom_nav .nav li {
    flex-grow: 2;
    text-align: center;
}
#bottom_nav .nav li a {
    color: white;
}
#bottom_nav .nav li a:hover, #bottom_nav .nav li a:focus {
    background-color: #6da31b;
}

.bottom_contents {
  height:100vh;
  width:95%;
  margin: 25px auto 25px auto;
  display: block;
  background-color: white;
  border-radius: 3px;		/* CSS3草案 */
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 3px;	/* Firefox用 */
  border-top: 4px solid #82be28;
  border-left: 1px solid #d2d6de;
  border-right: 1px solid #d2d6de;
  border-bottom: 1px solid #d2d6de;
}